$background-black: #2C3133;
$background-black-hover: #161819;

$display-grey: #F0F0F0;
$display-grey-dark: #D8D8D8;
$grey-dark: #6e6e6e;


$pale-blue: #bbd5e2;
$blue: #59a6cc;

$green: #12B0A5;
$green-hover: #10887f;

$purple: #79799E;
$purple-hover: #67678a;

$pale-yellow: #ead7b3;
$yellow: #F1B136;
$yellow-hover: #d89e2e;

$red: #CB6B6B;
$red-hover: #8c4343;
